/*/**/Dockerfile linguist-generated
docker_templates/*Dockerfile.j2 linguist-language=Dockerfile
/*/**/entrypoint.sh linguist-generated
/*/**/entrypoint.ps1 linguist-generated
.github/workflows/*.lock.yml linguist-generated=true merge=ours
