{% include 'partials/license.j2' %}

FROM {{ base_image }}

{% include 'partials/nix-env.j2' %}

{% if packages['apk'] -%}
RUN set -eux; \
    apk add --no-cache \
        {% for package_group, details in packages['apk'].items() -%}
        {% if details['version'] is not defined or details['version']|compare_versions(details['version_operator'], version) -%}
        {% if details['description'] -%}
        # {{ details['description'].strip() | replace('\n', '\n        # ') }}
        {% endif -%}
        {%- for package, version in details['packages'].items() -%}
            {{ package }}={{ version }}{% if not loop.last %} {% else %} \{% endif %}
        {%- endfor %}
        {% endif -%}
        {% endfor -%}\
    ; \
    rm -rf /var/cache/apk/*
{%- endif %}

{% include 'partials/java-version.j2' %}

{% include 'partials/multi-arch-install.j2' %}

{% include 'partials/version-check.j2' %}
{% include 'partials/entrypoint.j2' %}
{% include 'partials/jshell.j2' %}
