{%- set vflag = "--" if version|int >= 11 else "-" -%}
RUN Write-Host 'Verifying install ...'; \
    {% if image_type == "jdk" -%}
    Write-Host 'javac {{ vflag }}version'; javac {{ vflag }}version; \
    {% endif -%}
    Write-Host 'java {{ vflag }}version'; java {{ vflag }}version; \
    \
    Write-Host 'Complete.'
