RUN Write-Host 'Verifying install ...'; \
    {% if image_type == "jdk" -%}
    Write-Host 'javac {% if version|int >= 11 %}--{% else %}-{% endif %}version'; javac {% if version|int >= 11 %}--{% else %}-{% endif %}version; \
    {% endif -%}
    Write-Host 'java {% if version|int >= 11 %}--{% else %}-{% endif %}version'; java {% if version|int >= 11 %}--{% else %}-{% endif %}version; \
    \
    Write-Host 'Complete.'