name: Jinja CI
on:
  pull_request:
    paths:
      - generate_dockerfiles.py
      - test_generate_dockerfiles.py
      - requirements.txt
    branches: [ main ]

permissions:
  contents: read

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: "pip3 install -r requirements.txt"

      - name: Run tests
        run: "python3 test_generate_dockerfiles.py"
