name: Jinja CI
on:
  pull_request:
    paths:
      - generate_dockerfiles.py
      - test_generate_dockerfiles.py
      - requirements.txt
    branches: [ main ]

permissions:
  contents: read

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: "pip3 install -r requirements.txt"

      - name: Run tests
        run: "python3 test_generate_dockerfiles.py"
