name: Sanity

on:
  pull_request:

permissions:
  contents: read

jobs:
  sanity:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Run Sanity Check Script
        run: "bash sanity.sh"
