name: Sanity

on:
  pull_request:

permissions:
  contents: read

jobs:
  sanity:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Run Sanity Check Script
        run: "bash sanity.sh"
