name: Sanity

on:
  pull_request:

permissions:
  contents: read

jobs:
  sanity:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Run Sanity Check Script
        run: "bash sanity.sh"
