name: Dockerfile Updater
on:
  workflow_dispatch:
  schedule:
    # Runs every half hour
    - cron: "*/30 * * * *"

permissions: read-all

jobs:
  update_dockerfile:
    permissions:
      contents: write
      pull-requests: write    
    if: startsWith(github.repository, 'adoptium/')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: "pip3 install -r requirements.txt"

      - name: Run updater
        run: "python3 generate_dockerfiles.py --force"

      - uses: gr2m/create-or-update-pull-request-action@b65137ca591da0b9f43bad7b24df13050ea45d1b # v1.10.1
        env:
          GITHUB_TOKEN: ${{ secrets.ADOPTIUM_TEMURIN_BOT_TOKEN }}
        with:
          title: "Update Dockerfiles"
          body: "This is an automatically generated pull request, it will be automatically merged if all the CI tests pass."
          branch: "dockerfile_bot"
          commit-message: "dockerfile: automated nightly updates"
          labels: automerge
          author: "eclipse-temurin-bot <temurin-bot@eclipse.org>"
